.alma-reminder-service .form-item-alma-user-sms,
.alma-reminder-service .form-item-alma-user-email {
  width: 170px;
}

.alma-reminder-service .form-item-alma-user-sms,
.alma-reminder-service .form-item-alma-user-email,
.alma-reminder-service .reminder-note {
  display: inline-block;
}

.alma-reminder-service .reminder-note {
  text-indent: 10px;
}
